<h1><span class="slash flash">//////</span> Anthony Fiorani</h1>
table
  tr
    td Latest:
    td
      a(href="./abyss") Peer Into The Abyss
  tr
    td From:
    td
      a(href="#") Macomb
  tr
    td Attending:
    td 
      a(href="#") M.C.C.
  tr
    td Learning:
    td
      a(href="#") Javascript
  tr
    td Also Learning:
    td
      a(href="#") Accounting
  tr
    td Reading:
    td
      a(href="#") Total Money Makeover
  tr
    td Machines:
    td
      a(href="#") Stack
