doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(type='text/css', rel='stylesheet', href='../../main.css')
    title Anthony Fiorani dot com 
  body
    h1= title
    //time= moment(date).format('MMMM D, YYYY')
    div!= contents
    hr
    h3 Blog posts
      ul
        each post in collections.blog
          li
            a(href="/" + blog.path + "/")= blog.title
    include ./_footer.jade
