doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(type='text/css', rel='stylesheet', href='./main.css')
    title Anthony Fiorani dot com
  body
    include ../templates/_home.jade
    include ../templates/_footer.jade
