// ========================================== Variables

$fontColor = #595959
$backgroundColor = lightness($fontColor,98%)
$accent1 = lightness($fontColor,72%)
$accent2 = lightness($accent1,30%)

// ========================================== Main

body
  color $fontColor
  margin 0 auto
  padding 0 15px
  max-width 560px
  line-height 1.5
  background $backgroundColor
.slash
  color $accent1
td
  padding 3px
table
  margin 0
  padding-left 8px
a 
  color $fontColor
  text-decoration none
  border-bottom 1px solid $accent1
  padding 3px 4px 2px 4px
a:hover
a:focus
  color $accent1
  text-decoration none
  border-bottom 1px solid $fontColor
hr
  border 0
  margin 20px 0
  height 1px
  background $accent1
img
  float left
  width 15%
  padding 4px
  margin 0 10px 5px 0
  clear both
  border 1px solid $accent1
  box-shadow 1px 3px 3px $accent2
footer > a 
  text-decoration none
  border none
  padding 0
  margin 0
footer > nav > a
  padding 7px 7px 2px
nav
  margin-bottom 20px
.break
  display none

// ========================================== Fonts

h1
  font-size 5vw 
body
  font-size 2.8vw
footer > p
  font-size 2.2vw

// ========================================== Responsive

@media (min-width 750px)
  h1
    font-size 37px
  body
    font-size 21px
  footer > p
    font-size 19px
@media (max-width 450px)
  h1
    font-size 23px
  body
    font-size 13px
  footer > p
    font-size 10px
  footer > nav > a
    padding 7px 3px 2px
@media (min-width 350px)
  footer > nav > a
    padding 7px 7px 2px
@media (max-width 310px)
  img
    position absolute
    float right
    width 35%
    z-index 5
    right 30px
  footer > nav > span
    display none
  .break
    display inline
  br
    margin 3px
  footer > nav > a
    padding 7px 3px 2px
    margin-left 15px
  footer > p
    display none
  nav
    position absolute
@media (max-width 220px)
  img
    display none
@media (max-width 295px)
  .slash
    display none

// ========================================== Flash

.flash-item
  animation flash 8s linear 0s infinite
  -webkit-animation flash 8s linear 0s infinite
  -moz-animation flash 8s linear 0s infinite
  -o-animation flash 8s linear 0s infinite
@keyframes flash
  0%
    opacity 1.0
  10%
    opacity 0.1
  20%
    opacity 1.0
